* {
    font-family: "League Spartan", serif;
}

.navbar {
    height: 100%;
    width: 15%;
    left: 0;
    top: 0;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "League Spartan", serif;
}

.navbar a {
    background-color: rgb(221, 214, 205);
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    padding: 10px;
}

.sub_navbar {
    display: grid;
}

.navbar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}


.navbar h3 {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.user-nav {
    display: inline;
    margin: 10px;
}

.controlbox {
    left: 300px;
    height: 250px;
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);
    text-align: center;
    margin: 30px;
}

.button_container {
    display: inline-block;
}

.button_container button {
    height: 50px;
    width: 100px;
    background-color: #858585;
    margin-right: -4px;
}

.image_placeholder {
    height: 50px;
    width: 300px;
    background-color: #858585;
    margin-right: 8px;
}
.flex_image_placeholder{
    display: flex;
    justify-content: center;
}

.auto_button {
    height: 35px;
    width: 75px;
    background-color: #F2EFEB;
    margin-left: 4px;
}

.active_on_auto {
    background-color: #A4E999;
}

.active_off {
    background-color: #F29292;
}

.value_inline_container {
    display: flex;
    justify-content: center;
}

.arrow_button_container {
    display: flex;
    flex-direction: column;
}

.value_set_container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.value_set_container label {
    display: flex; /* Sets display as flex*/
    align-items: center; /*Aligns items vertically*/
    justify-content: center; /*Aligns Items Horizontally*/
    padding: 10px;
}

.value_display_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.value_inline_container label {
    height: 53px;
}

.controlbox_title {
    font-size: 1.5rem;
}

.button_inline_container {
    margin: 10px;
}

.main_controlbox {
    height: 100px;
    width: 600px;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);
    margin:50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.window_for_tab {
    height: 100%;
    width: 85%;
    left: 15%;
    top: 0;
    position: fixed!important;
    background-color: #DDD6CD;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}

.window{
    height: 100%;
    width: 85%;
    left: 15%;
    top: 0;
    position: fixed!important;
    background-color: #DDD6CD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tab_container {
    background-color: #F2EFEB;
    display: flex;
    justify-content: space-around;
    height:50px;
    width:100%;
}


/* Style of Tab Links */
.tab_container a {
    color: black;
    text-decoration: none;
    height:50px;
    width:100%;
    background-color: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

/* Change background color of buttons on hover */
.tab_container a:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #e8e3dc;
}

/* Active Tab */
.tab_container a:active {
    background-color: #DDD6CD ;
}

.window_box_container{
    display: flex;
    align-items: center;
    height: 100%;
}

.window_section_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    justify-content: center;
}

.body_window_container{
    display: flex;
    flex-direction: column;
}

.row_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow: auto;
}

.window_box{
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 30px;
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.window_box svg{
    float: left;
}

.store_index_container {
    display: flex;
    margin: 10px;
    justify-content: left;
    align-items: center;
}

.graph_window {
    height: 500px;
    width: 800px;
    display:flex;
    justify-content: left;
    align-items: center;
}

.color_box {
    height: 5px;
    width: 40px;
    margin-right: 20px;
    display:flex;
    justify-content: left;
    flex-direction: row;
}


.account_title_container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    width: 100%;
}

.account_title_container svg{
    margin-right:30px;
}

.user_window{
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 30px;
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.user_line_labels {
    font-style: italic;
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 30px;
}

.user_line_box {
    width: 800px;
    height: 550px;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    margin: 20px 0 20px 0;
    flex-direction: column;
}
.user_line {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20px;
    background-color: #DDD6CD;
    align-items: center;
    padding: 10px 0 10px 0;
}

/*
.user_table {
    background-color: #F2EFEB;
}
.user_table tr:nth-child(even){background-color: #DDD6CD;}
*/

.add_button {
    background-color: #DDD6CD;
    border: none;
    border-radius: 16px;
    color: #000000;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    height: 20px;
    width: 600px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    margin-bottom: 20px;
}

.button_down:hover {
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.20), 0 15px 40px 0 rgba(0,0,0,0.15);
}

.account_panel button {
    background-color: #DDD6CD;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.account_panel button:hover {
    background-color: #00BF62;
    color: #ffffff;
}

.account_panel label {
    display: block;
    margin-bottom: 8px;
}

.account_panel input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}


.login_box {
    background-color: #fff;
    height: 400px;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25%;
}

.login_box_container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_management_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:100%;
    align-items: center;
    text-align: center;
    overflow: auto;
}

.section_management_container label{
    width:30%;
    font-size: 1.5rem;
}

.device_sensor_icons_container {
    width:40%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.manage_button {
    height: 60px;
    width: 100px;
    background-color: #e8e3dc;
    margin:15px;
}

.manage_button:hover{
    cursor: pointer;
    background-color: #DDD6CD;
}

.section_box {
    height: 100px;
    width: 900px;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);
    margin:20px;
}


.window_login {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #DDD6CD;
    position: fixed!important;
    flex-direction: column;

}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login_box button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login_box button:hover {
    background-color: #45a049;
}

.login_box a {
    text-decoration: none;
    color: #007BFF;
    margin-left: 10px;
}

.window_login img {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}


.Registration_box {
    background-color: #fff;
    padding: 1%;
    height: 150%;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin-bottom: 5%;
}

.box-container_add_form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-container_add_form {
    display: flex;
    flex-direction: column;
}

.box-container_add_form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.box-container_add_form button {
    padding: 10px;
    background-color: #45a049;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.section_row_container {
    height: 45%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1%;
}

.storebox {
    left: 300px;
    height: 200px;
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);
    text-align: center;
    margin: 30px;
}

.svg-disabled {
    filter: invert(81%) sepia(97%) saturate(0%) hue-rotate(191deg) brightness(90%) contrast(81%);
}

.padding-right15 {
    padding-right: 15px;
}