.navbar {
    height: 100%;
    width: 15%;
    left: 0;
    top: 0;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "League Spartan", serif;
}

.navbar a {
    background-color: rgb(221, 214, 205);
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    padding: 10px;
}

.sub_navbar {
    display: grid;
}

.navbar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}


.navbar h3 {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.user-nav {
    display: inline;
    margin: 10px;
}

.controlbox {
    left: 300px;
    height: 200px;
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);
    text-align: center;
    margin: 30px;
}


.button_container {
    display: inline-block;
}

.button_container button {
    height: 50px;
    width: 100px;
    background-color: #858585;
    margin-right: -4px;
}

.auto_button {
    height: 35px;
    width: 75px;
    background-color: #F2EFEB;
    margin-left: 4px;
}

.active_on_auto {
    background-color: #A4E999;
}

.active_off {
    background-color: #F29292;
}

.value_inline_container {
    display: flex;
    justify-content: center;
}

.arrow_button_container {
    display: flex;
    flex-direction: column;
}

.value_set_container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.value_set_container label {
    display: flex; /* Sets display as flex*/
    align-items: center; /*Aligns items vertically*/
    justify-content: center; /*Aligns Items Horizontally*/
    padding: 10px;
}

.value_display_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.value_inline_container label {
    height: 53px;
}

.controlbox_title {
    font-size: 1.5rem;
}

.button_inline_container {
    margin: 10px;
}

.main_controlbox {
    height: 50px;
    width: 600px;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);
    margin:50px;
}

.window {
    height: 100%;
    width: 85%;
    left: 15%;
    top: 0;
    position: fixed!important;
    background-color: #DDD6CD;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.tab_container {
    background-color: #F2EFEB;
    display: flex;
    justify-content: space-around;
    height:50px;
    width:100%;
}


/* Style of Tab Links */
.tab_container a {
    color: black;
    text-decoration: none;
    height:50px;
    width:100%;
    background-color: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

/* Change background color of buttons on hover */
.tab_container a:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #e8e3dc;
}

/* Active Tab */
.tab_container a:active {
    background-color: #DDD6CD ;
}

.window_box_container{
    display: flex;
    justify-content: center;
}

.body_window_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.row_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.window_box{
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 30px;
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.store_index_container {
    display: flex;
    margin: 10px;
    justify-content: left;
    align-items: center;
}

.graph_window {
    height: 500px;
    width: 600px;
    display:flex;
    justify-content: left;
    align-items: center;
}

.color_box {
    height: 5px;
    width: 40px;
    margin-right: 20px;
    background-color: cornflowerblue;
    display:flex;
    justify-content: left;
    flex-direction: row;
}





